/node_modules
/.next/
/out/
/build
.DS_Store
*.pem
npm-debug.log*

# env (never commit real secrets)
.env
.env*.local
!.env.example

# sqlite
/prisma/*.db
/prisma/*.db-journal

*.tsbuildinfo
next-env.d.ts
